html {
    font-size: 62.5%;
}

body {
    background: var(--cor-principal) url('../images/bg-desktop.svg') center bottom no-repeat;
    background-size: cover;
    font-weight: 400;
    min-height: 100vh;
}

main {
    padding: 40px 60px;
}

.container {
    max-width: var(--max-width-size);
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 30px 60px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

 .header .container a img {
    width: 170px;
}

.hero .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero .container img {
    width: 650px;
}

.hero .container .info {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--cor-padrao);
    width: 100%;
}

.hero .container .info h1 {
    font-weight: 600;
    width: 450px;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}

.hero .container .info p {
    line-height: 2.7rem;
    color: var(--cor-padrao);
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
}

.hero .container .info .btn-register {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    align-self: flex-start;
    background-color: var(--cor-padrao);
    color: var(--cor-principal);
    border-radius: 50px;
    padding: 15px 60px;
    box-shadow: 0 8px 17px -8px #000000cc;
    transition: 0.3s;
}

.hero .container .info .btn-register:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-padrao);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

.footer .container {
    display: flex;
    justify-content: right;
}

.footer .container i {
    font-size: 1.5rem;
}

.footer .container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid var(--cor-padrao);
    transition: 0.3s;
    color: var(--cor-padrao);
    margin: 8px;
    padding: 10px;
}

.footer .container a:hover {
    color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
}